<div class="bg-slate-500 w-full py-2">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 container mx-auto py-3 px-3">
        <!-- Solutions Section -->
        <div>
            <h1 class="text-white font-bold text-xl">Solutions</h1>
            <ul class="text-white">
                <li>Marketing</li>
                <li>Analytics</li>
                <li>Automation</li>
                <li>Commerce</li>
                <li>Insights</li>
            </ul>
        </div>

        <!-- Support Section -->
        <div>
            <h1 class="text-white font-bold text-xl">Support</h1>
            <ul class="text-white">
                <li>Marketing</li>
                <li>Analytics</li>
                <li>Automation</li>
                <li>Commerce</li>
                <li>Insights</li>
            </ul>
        </div>

        <!-- Company Section -->
        <div>
            <h1 class="text-white font-bold text-xl">Company</h1>
            <ul class="text-white">
                <li>About</li>
                <li>Blog</li>
                <li>Jobs</li>
                <li>Commerce</li>
                <li>Press</li>
            </ul>
        </div>

        <!-- Legal Section -->
        <div>
            <h1 class="text-white font-bold text-xl">Legal</h1>
            <ul class="text-white">
                <li>Terms of service</li>
                <li>Privacy policy</li>
                <li>License</li>
            </ul>
        </div>
    </div>

    <!-- Copyright Text -->
    <p class="text-center text-white mt-4">Copyright © 2025 Event Management System</p>
</div>