{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gray-100">
    <nav class="bg-gray-900 text-white p-4">
       <div class="container mx-auto flex justify-between items-center">
          <div class="text-2xl fornt-bold">
              
                  <a
            href="{% url 'home' %}"
            class="text-white hover:text-white"
            >
            Event management System
          </a>
          </div>
          <!--Burger Menu Button-->
          <button id="menu-btn" class="text-3xl md:hidden focus:outline-none">
            &#9776;
          </button>
          <!--Navbar Links-->
          <ul id="menu" class="hidden md:flex space-x-6">
            <li>
                <a href="{% url 'participant-dashboard' %}" class="hover:text-gray-400">
                <button>Paticipant Dashboard</button>
            </a>
            </li>
            <li>
                <a href="{% url 'admin-dashboard' %}" class="hover:text-gray-400">
                <button>Admin Dashboard</button>
            </a>
        </li>
            <li>
                <a href="{% url 'profile' %}" class="hover:text-gray-400">
                <button>Profile</button>
            </a>
        </li>
        <li>
            <a href="{% url 'user-registered-events' %}" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                See Your Registered Events
            </a>
       </li>
          </ul>
       </div>
       <!--Mobile Menu-->
       <ul id="mobile-menu" class="hidden flex flex-col space-y-2 mt-4 text-center bg-gray-800 md:hidden p-4">
        <li>
            <a href="{% url 'admin-dashboard' %}"class="block p-2 hover:text-gray-400">
                <button>Admin Dashboard</button>
        </a>>
           
    </li>
    <li>
        {% if user.is_authenticated %}
        <a href="{% url 'detail-page' user.id %}" class="block p-2 hover:text-gray-400">
            <button>See Your Event</button>
        </a>
        {% endif %}
   </li>
       </ul>
    </nav>
   
  
<script>
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");
    menuBtn.addEventListener("click",()=>{
        mobileMenu.classList.toggle("hidden");
    })
</script>


    
</body>
</html>